@{
    ViewData["Title"] = "Error";
}

<div class="text-center mt-5">
    <h1>Uh oh..</h1>
    <p>An unknown error has occurred. Please try again later!</p>
    <div class="display-1">&#128542;</div>
</div>